<h2>Exchange Rates</h2>


<p id="greeting">Use the form below to get a table of the exchange rates of Litas (LTL) compared to other currencies for
    a specified
    date between 29/06/1993 and 31/12/2014.</p>

<form class="form-inline" (ngSubmit)="onSubmit()">
    <div class="form-group mx-sm-3 mb-2">
        <label for="date">Enter date:</label>
        <input type="date" class="form-control" name="date" [(ngModel)]="date" (blur)="validateDate()" min="1993-06-29"
            max="2014-12-31">
    </div>
    <button type="submit" class="btn btn-primary mb-2">Get Table</button>
</form>

<div *ngIf="dateError == true" class="alert alert-danger">
    Invalid date. Please enter a date between 29/06/1993 and 31/12/2014.
</div>

<p id="formula" *ngIf="currencyrates != null && currencyrates.length > 0 && dateError == false">*Formula: Quantity x
    Currency = Rate (LTL)</p>

<table class="table table-striped" *ngIf="currencyrates != null && currencyrates.length > 0 && dateError == false">
    <thead>
        <tr>
            <th>Currency</th>
            <th>Quantity</th>
            <th>Rate</th>
            <th>Difference (daily)</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of currencyrates">
            <td>{{ item.currency }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.rate }}</td>
            <td [ngClass]="{'text-success': item.difference > 0, 'text-danger': item.difference < 0}">
                <span *ngIf="item.difference > 0">
                    +{{ item.difference }} <i class="fa fa-arrow-up text-success"></i>
                </span>
                <span *ngIf="item.difference == 0">
                    {{ item.difference }}
                </span>
                <span *ngIf="item.difference < 0">
                    {{ item.difference }} <i class="fa fa-arrow-down text-danger"></i>
                </span>
            </td>
        </tr>
    </tbody>
</table>
